{% if S_NEW_MESSAGE and not S_PRIVMSGS %}

{% if IS_PRIVATE_FORUM %}
<label>{{ lang('CHANGE_PRIVACY') }}</label>
<label for="topic_privacy_public">
  <input type="radio" name="topic_privacy" id="topic_privacy_public" value="0" {% if !IS_PRIVATE %} checked {% endif %}>{{ lang('PUBLIC') }}
</label>
<label for="topic_privacy_private">
  <input type="radio" name="topic_privacy" id="topic_privacy_private" value="1" {% if IS_PRIVATE %} checked {% endif %}>{{ lang('PRIVATE') }}
</label>

<hr class="dashed">

<div>{{ lang('USERS_VIEW_PT') }} </div>
<div><ul id="pt_user_list">
    {% for user in PT_USERS %}
    <li>
      <input type="button" class="button2" value="x" onclick="splice_user('pt_user_list', '{{ user.USER_ID }}')">
      <input type="hidden" name="pt_users[]" value="{{ user.USER_ID }}">
      <a href="{{ user.PROFILE }}">{{ user.USERNAME }}</a>
    </li>
    {% endfor %}
</ul></div>
<div>
  <input id="pt_user" class="inputbox autowidth" type="text" data-endpoint="{{ ROOT_PATH }}app.php/verify_username"> <input type="button" class="button2" value="{{ lang('ADD_USER') }}" onclick="verify_username('pt_user', 'pt_user_list', 'pt_users')">
</div>

{% endif %}

<hr class="dashed">

<div>{{ lang('USERS_MOD_PT') }} </div>
<div><ul id="pt_mod_list">
    {% for user in PT_MODS %}
    <li>
      <input type="button" class="button2" value="x" onclick="splice_user('pt_mod_list', '{{ user.USER_ID }}')">
      <input type="hidden" name="pt_mods[]" value="{{ user.USER_ID }}">
      <a href="{{ user.PROFILE }}">{{ user.USERNAME }}</a>
    </li>
    {% endfor %}
</ul></div>
<div>
  <input id="pt_mod" class="inputbox autowidth" type="text" data-endpoint="{{ ROOT_PATH }}app.php/verify_username"> <input type="button" class="button2" value="{{ lang('ADD_MODERATOR') }}" onclick="verify_username('pt_mod', 'pt_mod_list', 'pt_mods')">
</div>

<hr class="dashed">

{% if S_AUTOLOCK_ALLOWED %}
<dt><label for="autolock_time">{{ lang('AUTOLOCK_LABEL') }}:</label></dt>
<dd>
  <input autocomplete="off" size="32" placeholder="{{ lang('AUTOLOCK_PLACEHOLDER') }}" type="text" name="autolock_time" id="autolock_time" value="{{ AUTOLOCK_TIME_VALUE }}" class="inputbox autowidth" />
  {% if S_AUTOLOCK_SET %}
  <span>{{ lang('AUTOLOCK_REMAINING_LABEL') }} {{ AUTOLOCK_REMAINING }}.</span>
  {% endif %}
</dd>
<dd>{{ lang('AUTOLOCK_FORMAT') }}</dd>
{% endif %}

<hr class="dashed">

{% INCLUDECSS './ext/mafiascum/privatetopics/styles/all/theme/css/pikaday.css' %}

{% INCLUDEJS './ext/mafiascum/privatetopics/styles/all/template/moment.min.js' %}
{% INCLUDEJS './ext/mafiascum/privatetopics/styles/all/template/pikaday.js' %}
{% INCLUDEJS './ext/mafiascum/privatetopics/styles/all/template/autolock.js' %}
{% INCLUDEJS './ext/mafiascum/privatetopics/styles/all/template/add_to_pt.js' %}
{% endif %}