{% if S_TOPIC_MOD %}
  {% if CAN_USE_MCP %}
    <div><form method="post" action="{{ S_MOD_ACTION }}">
      <fieldset class="quickmod">
        <label for="quick-mod-select">{{ lang('QUICK_MOD') }}:</label> {{ S_TOPIC_MOD }} <input type="submit" value="{{ lang('go') }}" class="button2" />
        {{ S_FORM_TOKEN }} 
      </fieldset>
    </form></div>
  {% else %}
    <div><form method="post" action="{{ S_TOPIC_MOD_ACTION }}">
      <fieldset class="quickmod">
        <label for="quick-mod-select">{{ lang('QUICK_MOD') }}:</label> {{ S_TOPIC_MOD }} <input type="submit" value="{{ lang('go') }}" class="button2" />
        {{ S_FORM_TOKEN }} 
      </fieldset>
    </form></div>
  {% endif %}  
{% endif %}

{% INCLUDECSS './ext/mafiascum/privatetopics/styles/all/theme/css/quickmod.css' %}